* {
  margin: 0;
  padding: 0;
}

/* small screen layout : l'ordre compte*/
@media screen and (max-width: 600px) {
  .index {
    grid-template-columns: 1fr;
  }

  .promo p:last-child {
    grid-column: 1/1;
  }

  .promo {
    grid-row: 1/1;
    grid-template-rows: 1fr;
  }

  .promo-wrapper p, .promo-wrapper img{
    grid-column: 1/1;
  }
  .promo {
    grid-column: 1/1;
    grid-template-columns: 1fr;
    margin: 5vw;
  }

  .promo-wrapper{
    grid-column: 1/1;
    justify-self: center;
  }
  .info-promo{
    grid-column: 1/1;
  }

  article {
    min-width: 50vw;
    grid-column: 1/1;
  }
}


body {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  font-family: 'PT Sans', sans-serif;
}

a{
  text-decoration: unset;
  color: unset;
}

header {
  display: flex;  /* place les éléments côte à côte */
  justify-content: space-between; /*donne un espace identique entre tous les éléments du conteneur*/
  background-color: #89B5AF;
  grid-column: span 5;
  align-items: center; /*aligner le contenu sur l'axe vertical*/
  height: 95px;
}

.logo {
/* flex-grow: 1; */
  font-size: 4rem;
  min-width: 412px; 
  color: white;
  font-family: 'PT Sans', sans-serif;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo svg {
  width: 70px;
  padding: 0 0 0 1vw;
  fill: rgb(83, 83, 83);
}

.search {
  flex-grow: 3;
  display: flex;
  justify-content: center;
}

.cart {
/* flex-grow: 1; */
  width: 85px;
  height: 88px; /*vérifier les unités de mesures*/
  display: flex;
  justify-content: end;
}

.cart a svg {
  /* flex: 1 1 auto; */
  padding: 15px;
  fill: #DED9C4;
  width: 40px;
}

.cart a{
  align-self: end;
}

nav {
  background-color:#96C7C1;
  grid-column: 1 / 2;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
}

.index {
  background-color: white;
  grid-column: 2 / span 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: 'PT Sans', sans-serif;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; tentative en display flex. Je préfère le display grid, avec changement du nombre de colonnes pour smartphones
  align-content: space-around;
  padding: 1vh 1vw;*/
}

.article {
  grid-column: 2 / span 4;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

.taille {
  display: flex;
  justify-content: space-around;

}

.pages {
  display: flex;
  justify-content: space-evenly;
  grid-column: 2 / span 4;
  color: #89B5AF;
  font-weight:normal;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 10px;
}

.pages li:nth-child(2) {
  font-weight: bolder;
  color: #609e96;
}

.taille p{
  display: flex;
  border-style: solid;
  border-width: 3px;
  border-color: #96C7C1;
  margin: 10px;
  height: 9vw;
  width: 5vw;
  color: #96C7C1;
  align-items: center;
  justify-content: center;
}

.promo {
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #96C7C1;
  margin: 1vw 1.7vw;
  grid-column: 1 / 5;
  padding: 1vw 1vw  1vw 0vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* grid-template-rows: 1fr 5fr; */
}

.promo-wrapper img{
  max-width: 100%;
}

.promo-wrapper{
  min-width: 125px;
}

.info-promo {
  display: flex;
  flex-direction: column;
  padding-left: 15px; /*pour media screen smarthpone*/
}

.info-promo div {
  display: block;
}
.promo img {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.promo p:first-child {
  grid-column: 1 / 3;
}

.promo p:last-child {
  grid-column: 2/ 3;
  font-weight: bolder;
  font-style: italic;
  font-size: 0.8rem;
}

h1 { /*attention, le logo est en h1 --> lui mettre un id ? */
  grid-column: 1 / span 3;
  grid-row: 1/1;

  padding-left: 1vw;
  padding-top: 1vh;
  /*soulignage partiel sur 2/3 de la longueur de la box ? */
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.description div{
  margin-bottom: 20px;
}

.accessoires img {
  width: 75px;
}

.accessoires {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 15px;
}

.accessoires div {
  font-size: 0.8rem;
  text-align: center;
  margin: 3px;
}

.accessoires div:hover{
  transform: scale(1.3);
}

.apercu {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}

.apercu img {
  width: 100%;
  padding: 15px;
}

.description {
  grid-column: 1 / 3;
  grid-row: 2/3;
  padding-left: 1vw;
  margin-top: 20px;
  margin-right: 20px;
  text-align: justify;
}



#prix::after {
  content: "TTC"; /*mettre en petit et en exposant */
  vertical-align: super;
  font-size: 0.65rem;
  margin-left: 3px;
}



aside {
  grid-column: 2/2;
  grid-row: 1/2;
  border-left: solid 3px #96C7C1;
  padding-left: 1vw;
  font-size: 2vw;
}

#panier {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

#panier svg {
  width: 25px;
  fill: #96C7C1;
}

.panier > div:last-child{
  grid-column: 1 / span 6;
  display: flex;
  justify-content: space-around;
}

article {
  justify-self: center; /*aligner les articles dans chaque colonne de la section */
  border-style: solid;
  border-width: 3px;
  border-color: #96C7C1;
  margin: 1vw 0;
  display: flex; /*fait en sorte que la taille de l'article s'adapte à l'image*/
  flex-direction: column;
  text-align: center;
  max-width: 15vw;
  font-family: 'PT Sans', sans-serif;
  /* min-width: 15vw; */
  /* width: 15vw; */
}

article a {
  display: flex;
  flex-direction: column;
}

.logo a {
  all: inherit;
  cursor: pointer;
}


footer {
  background-color: grey;
  grid-column: span 5;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-family: 'PT Sans', sans-serif;
  color: white;
}

footer div {
  width: 33vw;
}

footer div svg {
  height: 70px;
  width: 70px;
  fill: #DED9C4;
  padding: 1vw 1vw;
}
.reseaux-sociaux {
  display: flex;
  justify-content: center;
}




.mainmenu {
  list-style: none;
}

nav {
  padding-left: 15px;
  padding-top: 15px;
  grid-row: 2/4;
}

.sousmenu {
  display: none;
  font-size: 1.1rem;
  list-style: none;
  /* padding-left: -2vw; */
}

.sousmenu li {
  background-color: #abd2cd;
}

.mainmenu:hover .sousmenu {
  display: inline;
}

.search input, .search{
  background-color: #DED9C4;
  height: 45px;
  border-radius: 20px;
  border: 0px;
  font-size: 1rem; /*à modifier plus tard pour rendre responsive*/
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  justify-content: space-between;
  /* margin-left: 30px;
  margin-right: 30px; */
}


.search input{
  width: 90%;
  /* display: flex;
  align-items: center; */
}
.search a svg{
  fill: #8f8b7c;
  align-items: center;
  padding-right: 5px;
  padding-top: 2px;
}

.search a{
  width: 25px;
  align-self: center;
}


/* palette couleur : https://colorhunt.co/palette/89b5af96c7c1ded9c4d0cab2 */

/* chercher comment modifier l'aspect de la barre de recherche quand elle est focus */

.infoarticle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.infoarticle p:nth-child(1)  {
  grid-column: span 2;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.infoarticle p:nth-child(2)  {
  grid-row: 2/2;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  font-style: italic;
}
.infoarticle p:nth-child(3)  {
  grid-row: 2/2;
  font-weight: bolder;
  text-align: end;
  padding-right: 3px;
}


.taille p:hover {
  background-color: #96C7C1;
  color: white;
  /* font-size: 1.5rem; */
  transform: scale(1.2);
}

ul li a{
  text-decoration: none;
  color: unset;
}

.article-panier{
  display: grid;
  grid-column: 1 / span 6;
  grid-template-columns: 1fr 5fr;
  padding: 15px;
  text-align: center;
}

.article-panier img{
  width: 125px;
  grid-column: 1/1;
}
.info-panier{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.article-panier div p:nth-child(1) {
  grid-column: 1/1;
  grid-row: 1/1;
}

.info-panier p:nth-child(2) {
  grid-column: 2/2;
  grid-row: 1/1;
}

.info-panier p:nth-child(3) {
  grid-column: 3/3;
  grid-row: 1/1;
}

.info-panier p:nth-child(4) {
  grid-column: 4/4;
  grid-row: 1/1;
}

.modif-panier{
  grid-column: 6/6;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}


.panier{
  display: grid;
  grid-column: 2 / span 4;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.contact{
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  padding: 50px 50px;
  justify-content: center;
}

.contact p{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px 0 30px 0;
}

#message {
  resize: none;
}

.contact input[type="submit"]{
  color: red;
  align-self: center;
}

form{
  display: flex;
  flex-direction: column;
}

.quisommesnous{
  grid-column: 2 / span 4;
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
  text-align: justify;
}

.quisommesnous p{
  padding: 10px 0;
}